<div class="jumbotron">
  <h1>
    I am the greatest gem of all time! Witness!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="show">
    <h3 class="center_me"><%= @gem.name %></h1>
    <div class="center_me"><a href="<%=@gem.url%>">Visit me here!</a></div>
    <p><%= @gem.description %></p>
    </div>
  </div>
</div>

<p>Click <a href="/gems/<%= @gem.id %>/edit">here</a> to edit this gem.</p>





